body {
  background-color: white;
}

.text {
  font-size: 40px;
  color: $rond_green;
  font-family: $title_font;
}

.ButtonImg {
  background-color: $button_green;
  font-family: $p_font;
  font-size: $p_size;
  height: 60px;
  width: 204px;
  color: $p_color;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.Menu {
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}

.Menu_link {
  font-family: $title_font;
  font-size: 45px;
  color: $rond_green;
  list-style: none;
}

.section-title {
  display: flex;
  justify-content: center;
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color: #6FCF97;
    span {
      width: 240px;
      font-family: "Pompiere", serif;
      font-size: 65px;
      white-space: nowrap;
    }
  }
}


