
body{
  background-color: white;
}
.text{
  font-size: 40px;
  color:$rond_green;
  font-family: $title_font;
}
.ButtonImg{
  background-color: $button_green;
  font-family: $p_font;
  font-size: $p_size;
  height: 60px;
  width: 204px;
  color:$p_color;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

// Navigation

.Menu{
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 100px;;
}
.Menu_link{
  font-family: $title_font;
  font-size: 45px;
  color:$rond_green;
  list-style: none;
}
// Header

.Header{
  background-image: url("./images/Header.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin-bottom: 50px;
  position: relative;
}
.HeaderDescription{
  background-color: $rond_green;
  color: #ffffff;
  font-family: $p_font;
  width: 560px;
  padding:20px;
  position: absolute;
  right: 0;
  margin-right: -50px;
  top: 50%;
  transform:translateY(-50%);

}
.HeaderDescription h2{
  font-family: $title_font;
  font-size: 60px;
  line-height: 60px;
  align: left;
  letter-spacing: 15px;
  padding-top: 20px;
}
.HeaderDescription p{
font-size: $p_size;
line-height: 40px;
}

// About

.About{

  width:65%;
  margin: 50px auto 0;


}
.AboutDescription p{
font-family: $p_font;
font-size: $p_size;
color: $p_color;
text-align: center;
line-height: 40px;

}

// Gite

.Gite{
  margin-top: 50px;
}

.GiteDescription{
  margin: 0 auto;
}

.GiteDescription p{
font-family: $p_font;
font-size: $p_size;
line-height: 40px;
align: center;
width: 382px;
color: $p_color;
}

// Title

.section-title{
  display: flex;
  justify-content: center;


 .circle{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80px;
   width: 80px;
   border-radius: 100px;
   background-color: #6FCF97;
   span{
     font-family: "Pompiere", serif;
     font-size: 65px;
     white-space: nowrap;

   }
 }
}

// Extension

.Extension{
  margin-top: 50px;
}
.ExtensionDescription{
  font-family: $p_font;
  font-size: $p_size;
  line-height: 40px;
  align: center;
  width: 382px;
  color: $p_color;
  margin-top: 50px;

}
