$title_font: "Pompiere" ;
$title_size:65px;
$title_color:#333333;

$p_font: "Open Sans" ;
$p_size: 20px;
$p_color:#4F4F4F;
$p_ligneheight: 40px;

$cadre_green: rgba(111, 207, 151, 0.2);
$button_green: #6FCF97;
$rond_green:#6FCF97;
